
.App {
  margin:0;
  background-color: rgb(241, 241, 241);
  height:auto;
  width:auto;
}
 body{
  background-color: rgb(241, 241, 241) ;
 }
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: Translate(-50%, -50%);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form-group .btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.show_more{
  text-decoration: none;
  color: royalblue;
  cursor: pointer;
}
.show_more:hover{
  color: rgb(39, 89, 238);
}